<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Benchmark concentration modeling web application</title>

<style type="text/css">
    body {
        background-color: white;
        padding: 20px;
    }
    h1 {
        color: blue;
    }
    h2 {
        color: darkgreen;
    }
    p {}
    table {
        padding-left: 20px;
    }
    p.strong{
        font-weight: bold;
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
</style>

</head>

<body>


<h1>Benchmark concentration modeling web application</h1>

<h2>A. Purpose of this application</h2>
<p> The benchmark concentration modeling tool determines a BMC (benchmark concentration) from in-vitro cytotoxicity data, and it calculates the lower limit of
the 95% confidence interval (BMCL15) for the BMC15 (benchmark concentrations associated with a benchmark response of 15% (= 85% viability)). As further
output, the renormalized data points can be downloaded and the parameters for the mathematical curve describing the cytotoxicity can be obtained. </p>
</p>
<p class="strong"><h>&rArr;The BMCL15 can be used to define non-cytotoxic concentrations, i.e. all concentrations &lt; BMCL15.</h></p>
<h2>B. Short tutorial of the 4 steps required to operate the BMC modeling tool:</h2>
<ol>
<li>Upload experimental concentration-response data</li>
<li>Click on ‘Update’ and choose benchmark response (BMR)</li>
<li>Check graph for plausibility and chose display options for data</li>
<li>Download graph and BMCL</li>
</ol>
<h2>C. Explanation of buttons and menu parts:</h2>

<h3>Login</h3>
<p>To Login please provide an email address and a self-chosen password. Every time you login with your user data the datasets from your previous session are loaded.</p>

<h3>Logout</h3>
<p>By clicking the logout button all the processed data from the current session are saved and can be readily accessed in the next login.</p>

<h3>‘Input data’ menu:</h3>
<p>Data can be entered manually, or a file can be uploaded. The data format is simple and uniform: each line defines one data point. Each line has three columns.</p>
<p>The three columns are used as follows:</p>
<p class="strong">First column: concentration (C)</p>
<p class="strong">Second column: response (R) (= viability)</p>
<p class="strong">Third column: Number of the experiment (#)</p>
C: concentrations (in nM) that were used for the treatment of the cells (e.g. compound concentration of arsenic was 0.001 nM).
R: has to be given as percentage of surviving cells. This means that the user has to subtract the background from the raw data and normalize the data with untreated controls prior to benchmark concentration modeling.
#: input is an integer number, to define from which experiment the concentration-response data are derived. This allows analysis of several samples (of the same treatment) in the same file. If only a single experiment is analyzed this number is 1(If the same number is used more than once for a given concentration, this is interpreted as technical replicate within one experiment).</p>
<p class="strong">Example for data input lines:</p>
<table>
<thead><tr><td>dose</td><td>response</td><td>experiment</td></tr></thead>
<tbody>
<tr><td>0.00001</td><td> 96.32 </td><td>  1
<tr><td>0.0001</td><td>  98.51</td><td>   1 
<tr><td>0.001</td><td>   72.63 </td><td>  1
<tr><td>0.001</td><td>   73.23 </td><td>  1 (second technical replicate of experiment 1) </td></tr>
<tr><td>0.01</td><td>    47.36  </td><td> 1 </td></tr>
<tr><td>0.001</td><td>   75.32  </td><td> 2 (experiment 2) </td></tr>
<tr><td>0.01</td><td>    51.11 </td><td>  2 (experiment 2)</td></tr> 
</tbody>
</table>
</p>
<h3>New custom sample:</h3>
<p>By pushing the new custom sample button you can specify a name for your sample and manually insert the data in the grid.</p>
<p><h3>Browse:</h3></p>
<p>Input data have to be provided in a tab delimited text file format. By clicking on the ‘browse’ button (might be displayed in your language depending on your browser settings), you can search the file system of your computer and upload the file. Data from Excel can be saved as tab delimited text files. After upload, the data show up in the grid on the left side of the screen. To start the modeling procedure you must click on Update as described below. </p>
<h3>Update:</h3>
<p>
Clicking on the ‘Update’ button runs the algorithm in the background. The graph with the fitted model then pops up in the middle of the screen. Data points, for example outliers, can be edited at this stage, or additional data can be added (by clicking the green plus and removed by clicking on the red cross)</p>
<ul>
<li> The data in the grid are now re-normalized. This means there are different response data now in the grid. This is the effect of renormalization across the entire data set (The final renormalized data can be downloaded as .txt files by clicking on the text icon in the edit sample menu as described in detail under “edit samples".</li>
<li> After each modification ‘Update’ has to be clicked again to re-run the algorithm on the edited dataset.</li>
</ul>
<h3>Dynamic Graph:</h3>
<p>
After pushing the ‘Update’ button, a graph pops up that shows the fitted model and the normalized data from each experiment in different colors. Items can be removed from the graph by clicking on the line and point symbols in the legend under the graph. In this manner each single experiment can be visualized alone or together with others. Moreover, an average curve (obtained by fitting the model to the pooled data) for all experiments can be displayed as black dashed line.
The average curve is used for calculation of the BMC and BMCL, and it is obtained by fitting the optimal model again through the normalized datasets pooled from all experiments.
</p>
<h3>Output information</h3>
<p>Above the graph, the benchmark concentration (BMC) and the benchmark concentration lower limit (BMCL) are depicted for a benchmark response (BMR) of 50%, 15% and 10% respectively.</p>
<p> Under the graph, the chosen model and its parameters are displayed (self-starter functions as described in detail in the R package drc, Ritz, C. & Streibig, J. C. (2005)):</p>
<p class="strong">W1.4</p>
<p>f(x) = c + (d-c) exp(-exp(b(log(x) -log(e))))</p>
<p class="strong">W2.4</p>
<p>f(x) = c + (d-c)(1 - exp(-exp(b(log(x) -log(e)))))</p>
<p class="strong">W1.2</p>
<p>f(x) = exp(-exp(b(log(x) -e)))</p>
<p class="strong">W1.3</p>
<p>f(x) = 0 + (d-0) exp(-exp(b(log(x)-e)))</p>
<p class="strong">LL.5</p>
<p>f(x) = c +d - c(1 + exp(b(log(x) -log(e))))<sup>f</sup></p>
<p class="strong">LL.4</p>
<p>f(x) = c +d-c(1 + exp(b(log(x) -e)))<sup>f</sup></p>
<p class="strong">LL.3</p>
<p>f(x) = c +1-c (1 + exp(b(log(x) -e))</p>
<p class="strong">LL.2</p>
<p>f(x) =1 + exp(b(log(x) -log(e)))</p>
<p>This area is also used as alert for errors that occurred during modeling and to indicate anchor points introduced by the software.</p>
<p>
The algorithm sets an anchor point at y=0, and at x &gt;&gt; BMC if there are not sufficient data in the toxic range for meaningful curve modeling. As
demonstrated empirically, this procedure allows still for reasonable estimates of BMCL10 or BMCL15, but it should not be used for estimates of
BMC50/BMCL50. The algorithm calculates the EC50*80 and the highest treatment dose*80. The smaller one of these two values is used as anchor point and the
x-coordinate is also shown in the area below the graph. It can be distinguished from measured data points because it is emphasized in larger symbol size
and black.
</p>
<p>
The graph can be downloaded in svg, png, jpg and pdf by expanding the menu and clicking on the desired format on the upper right corner of the graph.
</p>
<h3>Samples to display:</h3>
<p>
On the right side of the graph you have the possibility to choose between your samples by moving your cursor and clicking on checkbox next to the desired
sample. This sample is visualized in the graph field now and the corresponding data are shown in the grid.
</p>
<h3>Edit sample:</h3>
<p>
If you want to modify a previously uploaded sample you have to select this sample in the edit sample menu.
Right of the ‘edit sample’ button, there is a text icon. Clicking it allows download of the normalized data.
Next to that text icon, there is a graph icon. Clicking it allows download of a .zip file (you need to download winzip, 7zip or any other program able to
open this file format to decompress). This folder contains all the single fitting steps from the algorithm as described in the paper (put link to my paper
here).
</p>
<h3>Clear all:</h3>
<p>
Clicking on the “Clear All” button removes all previously uploaded datasets. You are asked if you are sure that you want to delete everything when you push
this button.
</p>
