
{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block app_js %}
    <script type="text/javascript" src="{% static 'graph/js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'graph/js/draw.js' %}"></script>
    <script type="text/javascript" src="{% static 'graph/js/Highcharts-3.0.4/js/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'graph/js/Highcharts-3.0.4/js/modules/exporting.js' %}"></script>
{% endblock %}
{% block app_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'graph/css/style.css' %}" />
{% endblock %}
{% block title %}Benchmark Concentration Modelling{% endblock %}

{% block app_content %}

    <div id="global_container">
        <div id="banner">
            <div id="buttons_container">
                <span id='upload_button_desc'>Upload input file:</span>
                <input type='file' name='file_upload' id='file_upload'><br>
                <button type='button' id='update_button'>Update</button><br>
                <button type='button' id='new_sample_button'>New custom sample</button>
                <button type='button' id='clear_button'>Clear all</button><br>
                <!--<button type='button' id='clear_local'>Clear localStorage</button>-->
            </div>
            <div id="logos_container">
                <div id="loading"></div>
                <a href='http://www.uni-konstanz.de/' target="_blank">
                <img src="{% static 'img/konstanz_logo.jpg' %}" width="130" height='63' alt='konstanz_logo'></a>
                <a href='http://bbcf.epfl.ch/' target="_blank">
                <img src="{% static 'img/epfl_logo.png' %}" width="130" height='63' alt='epfl_logo'></a>
            </div>
            <div id="results"></div>
            <!--placed after because the two others are float + this one has overflow:hidden-->
        </div>

        <div id="mid">
            <div id="input_table_container">
                <table id='input_table' class='input_table'>
                    <thead><tr><th>Dose</th><th>Response</th><th>Exp</th><th id='add_mes'>+</th></tr></thead>
                    <tbody id='tbody'></tbody>
                </table>
            </div>
            <div id='samples_container'>
                <div id="graph_samples_container">
                    Samples to display:
                    <ul>
                    {% for sample in samples %}
                        <li>
                        <input type='checkbox' name='samples_graph' value='{{ sample.id }}'/>{{ sample.name }}
                        <span class='remove_sam'>x</span>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div id="table_samples_container">
                    Edit sample:
                    <ul>
                    {% for sample in samples %}
                        <li>
                        <input type='radio' name='samples_table' value='{{ sample.id }}'/>{{ sample.name }}
                        <span class='remove_sam'>x</span>
                        <a href="{% url 'getfile' sample.id %}" class='dl_norm_data'>
                            <img src="{% static 'img/dl_file.gif' %}" alt='Download Normalized data'></a>
                        <a href="{% url 'getimages' sample.id %}" class='dl_5pics'>
                            <img src="{% static 'img/dl_plots.png' %}" alt='Download R graphs'></a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="graph_container">
                <!--placed after because the two others are float + this one has overflow:hidden-->
                <div class='graph-top-filler'></div>
                <div id="chart"></div>
            </div>
        </div>

        <div id="log"><div class='log_title'>((R output))</div><div class='log_content'></div></div>
    </div>


    <script type="text/javascript" >
    $(function(){
        // Set global variables
        _USER_ = "{{ user }}";
        _JSON_URL_ = "{% url 'graph:json_response' %}";
        _NEW_SAMPLE_URL_ = "{% url 'graph:new_sample' %}";
        _REMOVE_SAMPLE_URL_ = "{% url 'graph:remove_sample' %}";
        _CLEAR_ALL_DB_URL_ = "{% url 'graph:clear_all_db' %}";
        _IMG_URL_ = "{% static 'img' %}";
        on_page_load();
        console.log(">>> User:",_USER_)
        $('#add_mes').click(function() {
            add_newline('','','',position='first');
        });
        $('#update_button').click(function() {
            update_event();
        });
        $('#clear_button').click(function() {
            clear_all_db();
        });
        $('#clear_local').click(function() {
            localStorage.clear();
        });
        $('#new_sample_button').click(function() {
            create_new_sample_onclick();
        });
        $('input:checkbox[name=samples_graph]').change(function() {
            change_sample_graph(this);
        });
        $('input:radio[name=samples_table]').change(function() {
            change_sample_table(this);
        });
        $('.remove_sam').click(function() {
            remove_sample_onclick(this);
        });
        if (window.File && window.FileReader && window.FileList && window.Blob) {}
        else {alert('The File APIs are not fully supported in this browser.');}
        $('#file_upload').change(function(){
            var file = $(this)[0].files[0];
            import_file(file);
        });
    });
    </script>

{% endblock %}



<!--
#------------------------------------------------------#
# This code was written by Julien Delafontaine         #
# Bioinformatics and Biostatistics Core Facility, EPFL #
# http://bbcf.epfl.ch/                                 #
# webmaster.bbcf@epfl.ch                               #
#------------------------------------------------------#
-->

