
{% extends "base.html" %}
{% load staticfiles %}

{% block app_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block app_content %}
    <div id='login_spacer_top'></div>
    <div id='login_description'>
        Please log in. If the login name is new, you will be asked if you want to create a new account.
    </div>
    <div id='login_container'>
        <form name="input" action="" method="post">
        <table>
        {{ login_form }}
        <tr><td><input type="submit" value="Sign in"></td></tr>
        </table>
        </form>
    </div>
{% endblock %}

