

/***************** LOGIN PAGE *****************/

#login_container{
    width: 300px;
    margin: auto;
    padding: 30px 10px;
    text-align: center;
    border: 1px solid blue;
}
#login_container table{
    margin: auto;
    text-align: left;
}
#login_spacer_top{
    height: 150px;
}
#login_description{
    margin: 30px;
    text-align: center
}
