<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jcanvas.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}" />-->
    <link rel="stylesheet" type="text/css" href="{% static 'js/jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom.css' %}" />
    {% block app_css %}{% endblock %}
    {% block app_js %}{% endblock %}
    <title>
    {% block title %}{% endblock %}
    </title>
</head>

<body>
    <div id="app_content">
        {% block app_content %}{% endblock %}
    </div>
</body>
</html>

