
/**************** General *******************/

body{
    background-color: #96B0EB;
    min-width: 870px;
    max-width: 1400px;
    padding-left: 10px;
    font-family: "Times", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
select{
    width: auto;
    margin: 0;
}
label{
    font-size: 16px;
}
table {
    margin: 1em 0;
    clear: both;
}

/************** Main containers *************/

#banner{
    margin-top: 15px;
}
#buttons_container{
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#results_container{
    float: left;
    margin-left: 100px;
    padding: 10px;
    margin-top: 0px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: white;
}
#loading{
    float: left;
    margin: 0 60px;
    width: 50px;
    height: 50px;
}
#login{
    float: right;
    margin-right: 30px;
    margin-top: 5px;
}

#mid{
    clear: both;
}
#input_table_container{
    float: left;
    width: 200px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 15px;
    padding: 0px 10px;
}
#graph_container{
    overflow: hidden;
    max-width: 800px;
    z-index:100;
}
#samples_container{
    float: right;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 30px;
}
#footer{
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
}

/************** Main Buttons *************/
#update_button{
    color: blue;
}
#new_sample_button{
    color: green;
}
#clear_button{
    color: red;
}
.upload_button_desc{
}

/************** (+/-) Buttons *************/
/* Red cross as a 'Remove' button */
/* Green plus as an 'Add' button */
.remove_mes, .remove_sam, #add_mes{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 5px;
}
.remove_mes, .remove_sam, #add_mes:hover{
    cursor: pointer;
}
.remove_mes, .remove_sam{
    color: red;
    font-size: 15px;
}
#add_mes{
    color: green;
}

/************** Results *************/
#bmclevel_selector{
    margin-left: 6px;
}
#results p{
    padding-top: 9px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0;
    font-size: 20px;
}
#results_container span.bmclevel_label{
    margin-left: 6px;
}

/************** Links *************/

.topright_link{
    font-size: 18px;
}

/************** Login *************/
#login_container a{
}

/************** Input table *************/
table td form{
    margin: 0;
}
div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
div.dataTables_filter label {
    float: right;
    width: 460px;
}
div.dataTables_info {
    padding-top: 8px;
}
div.dataTables_paginate {
    float: right;
    margin: 0;
}
div.dataTables_paginate a{
    cursor: pointer;
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
table.table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }
table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }

/************** Graph *************/
#graph_container .graph-top-filler{
    height: 30px;
}

/************** Samples list *************/
#graph_samples_container{
    margin-bottom: 20px;
}
#graph_samples_container ul,
#table_samples_container ul{
    padding: 0;
    list-style-type: none;
}
#graph_samples_container li input,
#table_samples_container li input{
    margin-right: 10px;
    margin-bottom: 4px;
}

/************** Log *************/
#log{
    max-width: 500px;
    margin-top: 10px;
    margin-left: 30px;
    float: left;
}
#log .log_title{
    visibility: hidden;
    text-align: center;
    margin-bottom: 15px;
}
#log .log_content{
    color: black;
    font-weight: bold;
}

/************* Footer *************/
#footer img.left_logo{
    margin-left: 10px;
    margin-right: 10px;
}
#footer img.right_logo{
    float: right;
    margin-right: 20px;
}
#footer .footer_text{
    display: inline-block;
    width: 250px;
}



/*#------------------------------------------------------#
  # This code was written by Julien Delafontaine         #
  # Bioinformatics and Biostatistics Core Facility, EPFL #
  # http://bbcf.epfl.ch/                                 #
  # webmaster.bbcf@epfl.ch                               #
  #------------------------------------------------------#*/
