

/************** Main containers *************/
body{
    background-color: #96B0EB;
    min-width: 870px;
    max-width: 1400px;
    padding-left: 10px;
}

#banner{
    margin-top: 15px;
}
#buttons_container{
    float: left;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#results_container{
    float: left;
    margin-left: 100px;
    padding: 10px;
    margin-top: 0px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: white;
}
#loading{
    float: left;
    margin: 0 60px;
    width: 50px;
    height: 50px;
}
#login{
    float: right;
    margin-right: 30px;
    margin-top: 5px;
}

#mid{
    clear: both;
}
#input_table_container{
    float: left;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 15px;
    padding: 0px 10px;
}
#graph_container{
    overflow: hidden;
    max-width: 800px;
}
#samples_container{
    float: right;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 30px;
}
#footer{
    clear: both;
    padding-top: 100px;
    padding-bottom: 20px;
}

/************** Main Buttons *************/
#update_button{
    color: blue;
}
#new_sample_button{
    color: green;
}
#clear_button{
    color: red;
}

/************** +- Buttons *************/
/* Red cross as a 'Remove' button */
/* Green plus as an 'Add' button */
.remove_mes, .remove_sam, #add_mes{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 5px;
}
.remove_mes, .remove_sam, #add_mes:hover{
    cursor: pointer;
}
.remove_mes, .remove_sam{
    color: red;
    font-size: 15px;
}
#add_mes{
    color: green;
}

/************** Results *************/
#bmclevel_selector{
    margin-left: 6px;
}
#results p{
    padding-top: 9px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0;
    font-size: 1.2em;
}
#results_container span.bmclevel_label{
    margin-left: 6px;
}

/************** Login *************/
#login_container a{
}

/************** Input table *************/
.input_table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 200px;
}
.input_table tr.datarow{
    font-size: 0.9em;
}
.input_table input{
    width: 70px;
}
.input_table input.dose_in{ width: 60px; }
.input_table input.response_in{ width: 60px; }
.input_table input.experiment_in{ width: 30px; }

/************** Graph *************/
#graph_container .graph-top-filler{
    height: 30px;
}

/************** Samples list *************/
#graph_samples_container{
    margin-bottom: 20px;
}
#graph_samples_container ul,
#table_samples_container ul{
    padding: 0;
    list-style-type: none;
}

/************** Log *************/
#log{
    max-width: 500px;
    margin-top: 10px;
    margin-left: 30px;
    float: left;
}
#log .log_title{
    visibility: hidden;
    text-align: center;
    margin-bottom: 15px;
}
#log .log_content{
    color: black;
    font-weight: bold;
}

/************* Footer *************/
#footer img.left_logo{
    margin-left: 10px;
    margin-right: 10px;
}
#footer img.right_logo{
    float: right;
    margin-right: 20px;
}
#footer .footer_text{
    display: inline-block;
    width: 250px;
}



/*#------------------------------------------------------#
  # This code was written by Julien Delafontaine         #
  # Bioinformatics and Biostatistics Core Facility, EPFL #
  # http://bbcf.epfl.ch/                                 #
  # webmaster.bbcf@epfl.ch                               #
  #------------------------------------------------------#*/
