
{% extends "base.html" %}
{% load staticfiles %}

{% block app_js %}
    <script type="text/javascript" src="{% static 'graph/js/d3.v3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'graph/js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'graph/js/draw.js' %}"></script>
    <script type="text/javascript" src="{% static 'graph/js/Highcharts-3.0.4/js/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'graph/js/Highcharts-3.0.4/js/modules/exporting.js' %}"></script>
{% endblock %}
{% block app_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'graph/css/style.css' %}" />
{% endblock %}
{% block title %}My amazing web app{% endblock %}

{% block app_content %}

    <div id="global_container">
        <div id="buttons_container">
        <span id='update_button_desc'>Update the graph:</span>
            <button type='button' id='update_button'>Update</button><br>
        <span id='upload_button_desc'>Upload input file:</span>
            <input type='file' name='file_upload' id='file_upload'><br>
        <span>Load sample data:</span>
            <button type='button' id='load_sample_button'>Load</button><br>
        <span>Clear:</span>
            <button type='button' id='clear_button'>Clear</button><br>
        </div>
        <div id="input_table_container">
            <table id='input_table' class='input_table'>
                <thead><tr><th>Dose</th><th>Response</th><th>Exp</th><th id='add'>+</th></tr></thead>
                <tbody id='tbody'></tbody>
            </table>
        </div>
        <div id="graph_container"></div>
        <div id="samples_container">
            <form>
            <input type='radio' name='samples' value='-1'/>All<br>
            {% for sample in samples %}
                <input type='radio' name='samples' value='{{ sample.id }}'/>{{ sample.name }}<br>
            {% endfor %}
            </form>
        </div>
        <div id="log"><div class='log_title'>((R output))</div><div class='log_content'></div></div>
    </div>


    <script type="text/javascript" >
    var json_url = "{% url 'graph:json_response' %}";
    var new_sample_url = "{% url 'graph:new_sample' %}";
    var clear_all_db_url = "{% url 'graph:clear_all_db' %}";
    $(function(){
        var data;
        $.getJSON(json_url, function(json){
            data = json;
            create_table(data);
            draw_graph(data);
        })
        $('#add').click(function() {
            add_newline('','','',position='first');
        })
        $('#update_button').click(function() {
            post_data_and_redraw(data,json_url);
        })
        $('#clear_button').click(function() {
            clear_all_db(clear_all_db_url);
        })
        $('input:radio[name=samples]').change(function() {
            change_sample(this,data,json_url);
        })
        if (window.File && window.FileReader && window.FileList && window.Blob) {}
        else {alert('The File APIs are not fully supported in this browser.');}
        $('#file_upload').change(function(){
            var file = $(this)[0].files[0];
            import_file(file,data);
        })
    })
    </script>

{% endblock %}
